<div class="container mt-5">
  <div class="form-area">
    <form #ftmp = 'ngForm' (submit) = "onSubmit(ftmp)">
      <div class="form-group">
        <label>First Name</label>
        <input 
        type="text" 
        placeholder="Full Name" 
        class="form-control" 
        name="fullName" 
        ngModel 
        #fullName = 'ngModel' 
        (change) = "getValue(fullName)"
        required=""
        [ngClass]="{'is-invalid' : fullName.invalid && fullName.touched}"
        minlength="4"
        maxlength="20"
        >
        <div *ngIf = "fullName.errors?.['required']">
          <div class="alert alert-danger" *ngIf = 'fullName.invalid && fullName.touched'> Full Name is Required...</div>
        </div>
        <div *ngIf = "fullName.errors?.['minlength']">
          <div class="alert alert-danger" *ngIf = 'fullName.invalid && fullName.touched'> Full Name should be between 4 to 20 Characters...</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input 
        type="email" 
        placeholder="Email Address" 
        class="form-control" 
        name="emailAddress" 
        ngModel 
        #email = 'ngModel' 
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
        required
        [ngClass]="{'is-invalid' : email.invalid && email.touched}"
        >
        <div *ngIf = "email.errors?.['required']">
          <div class="alert alert-danger" *ngIf = 'email.invalid && email.touched'> Email Field is Required...</div>
        </div>
        <div *ngIf = "email.errors?.['pattern']">
          <div class="alert alert-danger" *ngIf = 'email.invalid && email.touched'> Make Sure you have Entered Your Email Correctly...</div>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea 
        cols="30" 
        rows="10" 
        placeholder="Address" 
        class="form-control" 
        name="fullAddress" 
        ngModel 
        #fullAddress = 'ngModel' 
        required
        [ngClass]="{'is-invalid' : fullAddress.invalid && fullAddress.touched}"
        ></textarea>
        <div *ngIf = "fullAddress.errors?.['required']">
          <div class="alert alert-danger" *ngIf = 'fullAddress.invalid && fullAddress.touched'> Address is Required...</div>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="ftmp.invalid">Submit</button>
  
    </form>
  </div>
</div>

